@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'Cairo', sans-serif;
}
h2, h6 {
	margin: 0;
}
.heading {
	padding-top: 2rem !important;
}

.calender {
	height: 8rem;
	width: 10rem;
	margin-left: 1rem;
	padding-top: 0.5rem;
	transform: rotate(-10deg);
	z-index: 69;
}
@media only screen and (max-width: 719px) {
	.calender {
		width: 8rem;
	}
	h5, h6 {
		font-size: large;
	}
}

.main {
	min-height: 90vh;
}
.list {
	max-height: 50vh;
	margin-top: 10vh;
	overflow-y: auto;
	padding-bottom: 8vh;
}
.animation {
	animation-name: delete;
	animation-duration: 0.4s;
	animation-delay: 0s;
}
@keyframes delete {
	from {transform: scale(1);}
	to {transform: scale(0.1);}
}
input:disabled{
	color: black !important;
	border: 1px solid grey;
	border-radius: 5px;
}
/*newDiv*/
.newDiv{ 
	margin-bottom: 8vh;
}
/*todoDiv*/ 
.input-width { 
	width: 90% !important;
}
.time {
	padding: 0.4rem 2rem;
	font-family: 'Audiowide', cursive;
}
footer {
	width: 100%;
	margin-top: 4.2rem;
	padding: 0.5rem 0 !important;
	z-index: 5;
}